@charset "UTF-8";

.tabletitle:after {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(50, 90, 120), transparent);
  background: linear-gradient(to right, rgb(50, 90, 120), transparent);
}

.container table td.titletext {
  vertical-align: middle;
}