@charset "UTF-8";

.slider {
  background-color: black;
}

.slider a {
  display: block;
  padding: 0 0 0 50px;
}

.wrapper {
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: space-between;
  margin: 70px 0 50px;
}

.main {
  width: 42%;
}

.mainhead {
  height: 5%;
}

.maincontent {
  height: 95%;
  padding: 12px 0 0 12px;
}

.scroll {
  height: 630px;
}

.scroll-content a {
  display: block;
  margin-bottom: 10px;
}

.sidebar {
  width: 55%;
}

.sidehead {
  height: 5%;
  margin-bottom: 18px;
}

.sidecontent {
  background-color: silver;
  height: 92.8%;
  padding: 20px 20px;
}

.sidecontent2 {
  padding-top: 50px;
}