@charset "UTF-8";

.tophead {
  padding-bottom: 0.25em;
}

.tophead:after {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(90, 90, 230), transparent);
  background: linear-gradient(to right, rgb(90, 90, 230), transparent);
}

.slider {
  background-color: black;
}


.wrapper {
  width: 100%;
  margin: 80px 0 40px;
}


.mainhead {
  height: 5%;
}

.mainhead:after {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(190, 190, 20), transparent);
  background: linear-gradient(to right, rgb(190, 190, 20), transparent);
}

.maincontent {
  height: 95%;
  padding: 12px 0 0 0;
}

.scroll {
  height: 630px;
}

.scroll-content {
  display: block;
  margin-bottom: 10px;
}

.sidebar{
  margin: 0 30px;
}

.sidehead1 {
  height: 5%;
  margin-bottom: 28px;
}

.sidehead1:after {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(50, 90, 120), transparent);
  background: linear-gradient(to right, rgb(50, 90, 120), transparent);
}

.sidecontent {
  background-color: #DDDDDD;
  height: 250px;
  padding-top: 60px;
}


.sidecontent1b {
  padding: 50px 0 0 0;
}

.sidehead2 {
  height: 5%;
  margin-top: 25px;
  margin-bottom: 18px;
}

.sidehead2:after {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.sidecontent2 {
  background-color: #DDDDDD;
  height: 290px;
  padding: 80px 0 0 0;
}

