<div class="container"> 
  <div class="topcontent">
    
    <h4 class ="tophead mb-3 fw-bold">・Pick Up</h4>
    
    <div class="slider rounded">
      <a><img src="../../assets/SPY×FAMILY.jpg" alt="画像" height="300px"></a>
      <a><img src="../../assets/呪術廻戦.jpg" alt="画像" height="300px"></a>
      <a><img src="../../assets/鬼滅の刃.jpg" alt="画像" height="300px"></a>
      <a><img src="../../assets/パリピ孔明.jpg" alt="画像" height="300px"></a>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <script type="text/javascript">
      $(function(){
        $('.slider').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          dots: true,
          pauseOnHover: false,
          autoplay: true,
          autoplaySpeed: 1800,
          arrows: false,
        });
      });
    </script>
  </div>
  
  <div class="wrapper">
    
    <div class="main">
      
      <h4 class="mainhead fw-bold">・This Season</h4>
      
      <div class="maincontent"> 
      
        <div class="scroll overflow-auto">
          <div class="scroll-content">
            <a><img src="../../assets/SPY×FAMILY2.jpg" alt="画像" height="200px"></a>
            <a><img src="../../assets/クレヨンしんちゃん2.jpg" alt="画像" height="200px"></a>
            <a><img src="../../assets/進撃の巨人2.jpg" alt="画像" height="200px"></a>
            <a><img src="../../assets/ドラえもん2.jpg" alt="画像" height="200px"></a>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="sidebar">
      <h4 class="sidehead fw-bold">・Search</h4>
      <div class="sidecontent rounded">
        
        <div class="sidecontent1">
          <p>検索</p>
        </div>
        
        <div class="sidecontent2">
          <a>作品一覧</a>
        </div>
        
      </div>
    </div>
    
  </div>
</div>
<footer>
  <div id="footer_navi">
    <ul>
      <li><%= link_to 'お問い合わせ', "contacts/new" %></li>
      <li>退会</li>
    </ul>
  </div>
</footer>
