<div class="container">
  <div class="col-sm-6 offset-sm-3">
    <%= image_tag "thanks.jpg", class: "d-block mx-auto img-fluid h-50 mt-5" %>
  </div>
  <div class="text-center my-5">
    <%= link_to 'ホームに戻る', root_url, class: 'btn btn-secondary' %>
  </div>
</div>